body {
    background-color: #dedede;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hidden {
    display: none;
}

img.fidget {
    position: absolute;
    top: 80px;
    left: 710px;
    width: 500px;
    height: auto;
}

.arrowposition {
    position: relative;
    top: 150px;
    left: 0;
}

.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 200px;
    left: 790px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    list-style: none;
    overflow: hidden;
    z-index: -1;
}

li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}

li:nth-child(odd) {
    background: #e7bd12;
    border: 0.3px #000 solid;
}

li:nth-child(even) {
    background: #EEC625;
    border: 0.3px #000 solid;
}

li:first-child {
    transform: rotate(30deg) skewY(-30deg);
}

li:nth-child(2) {
    transform: rotate(90deg) skewY(-30deg);
}

li:nth-child(3) {
    transform: rotate(150deg) skewY(-30deg);
}

li:nth-child(4) {
    transform: rotate(210deg) skewY(-30deg);
}

li:nth-child(5) {
    transform: rotate(270deg) skewY(-30deg);
}

li:nth-child(6) {
    transform: rotate(330deg) skewY(-30deg);
}

.textincircle {
    position: absolute;
    left: -105%;
    width: 200%;
    height: 200%;
    text-align: center;
    font-size: 18px;
    transform: skewY(30deg) rotate(30deg);
    padding-top: 35px;
}

.toggleview {
    position: absolute;
    top: 100px;
    left: 300px;
    font-size: 22px;
    background: #fff;
    border: #000 solid;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}